#Version
VITE_VERSION="v.0.5"
VITE_LAST_UPDATED_WEBSITE="20. September 2025"
VITE_LAST_UPDATED_BARRIEREFREI="20. September 2025" 

#Deploy Preview
PREVIEW_SFTP_HOST="xxx"
PREVIEW_SFTP_USERNAME="xxx"
PREVIEW_SFTP_KEY="xxx"
